/* ~~~~~~~~~~~~~~~~ general styling ~~~~~~~~~~~~~~~~ */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap')

* {
    margin: 0;
    padding: 0;
    /* example of background formatting */
}

body {
    font-family: 'Lato', sans-serif; 
    background-color: #FFBCB5;
}

html{
    scroll-behavior: smooth;
}

p {
    color: #262322; 
}

/* ~~~~~~~~~~~~~~~~ transition ~~~~~~~~~~~~~~~~ */

a, 
.btn {
    transition: all 300ms ease;
}

/* ~~~~~~~~~~~~~~~~ desktop navigation ~~~~~~~~~~~~~~~~ */

nav,
 .nav-links {
    display: flex; /* use of flex for responsive design */
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh; 
}

.nav-links { /* use of list formatting */
    gap: 2rem; 
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #262322;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{ /* use of pseudo classes for hypertext links */
    color: #C97D60;
}

.logo {
    font-size: 2rem;
    color: #262322; 
}

.logo:hover { /* use of pseudo classes/elements */
    cursor: default;
}

/* ~~~~~~~~~~~~~~~~  mobile menu ~~~~~~~~~~~~~~~~ */

#mobile-nav {
    display: none;
}

.mobile-menu {
    position: relative; /* use of relative positioning */
    display: inline-block;
}

.mobile-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.mobile-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.mobile-links {
    position: absolute; /* use of absolute */
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.mobile-links a {
    display: block; /* use of block elements */
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.mobile-links li {
    list-style: none;
}

.mobile-links.open {
    max-height: 300px;
}

.mobile-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.mobile-icon.open span:nth-child(2) {
    opacity: 0;
}

.mobile-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.mobile-icon span:first-child {
    transform: none;
}

.mobile-icon span:first-child {
    opacity: 1;
}

.mobile-icon span:first-child {
    transform: none;
}

/* ~~~~~~~~~~~~~~~~ section styling ~~~~~~~~~~~~~~~~ */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* ~~~~~~~~~~~~~~~~ profile styling ~~~~~~~~~~~~~~~~ */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section-pic-container {
    display: flex;
    height: 241px;
    width: 360px;
    margin: auto 0;
}

.section-text {
    align-self: center;
    text-align: center;
}

.section-text p {
    font-weight: 600;
}

.section-text-p1 {
    text-align: center;
}

/* use of text formatting */
.section-text-p1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #262322; 
}

.title {
    font-size: 3rem;
    text-align: center;
    color: #262322; 
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ~~~~~~~~~~~~~~~~ icons ~~~~~~~~~~~~~~~~ */

.icon {
    cursor: pointer;
    height: 2rem;
}

#resume-icon {
    cursor: pointer;
    height: 2rem;
    float: right;
}

/* ~~~~~~~~~~~~~~~~ buttons ~~~~~~~~~~~~~~~~ */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2 {
    border: #262322 0.1rem solid;
    background-color: #F2E5D7;
}

.btn-color-1:hover, 
.btn-color-2:hover {
    cursor: pointer;
    background-color: #262322;
    color: #F2E5D7;
}

.btn-container {
    gap: 1rem;
}

/* ~~~~~~~~~~~~~~~~ about section styling ~~~~~~~~~~~~~~~~ */

#about {
    position: relative;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-container, 
.about-details-container {
    display: flex;
}

.arrow {
    position: absolute; /* use of absolute positoning */
    right: -5rem; 
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: #F2E5D7;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
    position: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.text-container {
    text-align: center;
    align-self: center;
    overflow: wrap; 
    min-width: 10%;
    max-width: 30%;
}

/* ~~~~~~~~~~~~~~~~ resume section styling ~~~~~~~~~~~~~~~~ */

#resume {
    position: relative; 
}

.resume-subtitle {
    color: rgb(85,85,85);
    font-weight: 600; 
    font-size: 1.75rem; 
    margin-bottom: 2rem; 
}

.resume-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap; /*example of handling overflow */
    flex-direction: row;
    gap: 3.5rem; 
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* ~~~~~~~~~~~~~~~~ projects section styling ~~~~~~~~~~~~~~~~ */

#projects {
    position: relative;
    height: 96vh;
  }
  
  .color-container {
    border-color: #63372C;
    background: #F2E5D7;
  }
  
  .placeholder-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
  }
  
  .project-title {
    margin: 1rem;
    color: #262322;
  }
  
  .project-btn {
    color: #262322;
    border-color: #63372C;
  }
  

/* ~~~~~~~~~~~~~~~~ contact section styling ~~~~~~~~~~~~~~~~ */

#contact {
    display: flex;
    justify-content: column;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: 0.1rem solid;
    border-color: rgb(163,163,163);
    background: #F2E5D7;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container {
    font-size: larger;
}

.contact-icon {
    cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~ footer styling ~~~~~~~~~~~~~~~~ */

#footer {
    position: fixed;
    bottom: 0; 
    left: 0; 
    right: 0;
    height: 30px;

}

footer p {
    text-align: center;
    margin: 0rem;
    padding: 0;
    color: #63372C
}



p[class="experience-text"] { /* use of contextual/attribute selectors */
    color: #63372C;
}
 

.contact-link {
    color: #63372C;
}
/* ~~~~~~~~~~~~~~~~ contact me form styling ~~~~~~~~~~~~~~~~ */


/*example of using the focus psuedo class to format valid selected boxes */
input#name:focus:valid,
input#email:focus:valid,
input#phone:focus:valid {
    background: rgb(220, 255, 220); 
}

/*example of using the focus psuedo class to format invalid selected boxes */
input#name:focus:invalid,
input#email:focus:invalid,
input#phone:focus:invalid {
    background: rgb(255, 232, 233); 
}

.contact-form { /* example of a grid layout */
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    align-items: center;
    margin-left: 700px;
    margin-right: 700px;
}

/* ~~~~~~~~~~~~~~~~ dedications page styling ~~~~~~~~~~~~~~~~ */

.nunu-img {
    width: 40rem;
    border-radius: 2rem;
    border-color:#262322;
    float: right;  /* example of a floated layout and use of a float element */
    margin-right: 20rem;
    margin-left: 10rem;
}

.nunu-message {
    padding: 1rem;
    flex: auto;
    background: #F2E5D7;
    border-radius: 1rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: left;
    position: left;
    margin: 2rem 30rem;
    margin-top: 3rem;
    width: 20rem;
}



/* styles for current date/time clock */
div#dateNow {
    display: block;
    position: absolute;
    align-items: center;
    top: 50px;
    left: 5rem;   
    background-color: transparent;
    border: hidden;
    color: white;
    font-size: 2em;
    line-height: 1.1em;
    font-weight: normal;
    font-family: sans-serif;
    text-shadow: 0px 0px 1px black, 0px 0px 4px black, -1px 1px 8px white, 
    1px -1px 8px white, -1px 1px 12px white, 1px -1px 12px white;
 }

 #timeHeading {
    display: block;
    position: absolute;
    align-items: center;
    top: 10px;
    left: 5rem;   
    background-color: transparent;
    border: hidden;
    color: white;
    font-size: 1em;
    line-height: 1.1em;
    font-weight: normal;
    font-family: sans-serif;
    text-shadow: 0px 0px 1px black, 0px 0px 4px black, -1px 1px 8px white, 
    1px -1px 8px white, -1px 1px 12px white, 1px -1px 12px white;
 }
 
 /* styles for the countdown clock */
 
 div#countdown {
    position: absolute;
    bottom: 50px;
    right: 15px;
    width: 45%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
 
 }
 
 div#countdown div {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 1.2em;
    font-size: 0.5em;
    font-family: sans-serif;
    color: white;
    margin: 20px 10px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 2px black, 0px 0px 4px black, -1px 1px 8px white, 
                 1px -1px 8px white, -1px 1px 12px white, 1px -1px 12px white;
 }
 
 div#countdown div span {
    font-size: 2em;   
 }
 
 header > h2 {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 0.9em;
    font-weight: normal;
    color: rgba(255, 192, 82, 0.8);
 }